body {
  padding-top: 5px;
  margin-bottom: 5px;
  overflow-y: hidden;
}

.container-fluid {
  padding-left: 5px;
  padding-right: 5px;
}

.container-fluid > .sidebar {
  float: left;
  width: 205px;
  height: 100%;
  background-color: #394b4d;
}
.container-fluid > .content {
  margin-left: 220px;
}

.list-group-item {
  border: 0px;
  background-color: transparent;
}

a.list-group-item {
  color: #9ba9ab;
}

a.list-group-item .list-group-item-heading {
  color: #9ba9ab;
}

.list-group-item .list-group-item-heading {
  font-size: 1.1em;
  font-weight: bold;
  margin-right: 5px;
}

.chat-logs {
  overflow-x: hidden;
  overflow-y: auto;
}

.chat-box-panel {
  height: 150px;
  margin-top: 30px;
  bottom: 0px;
  z-index: 99;
}

.message-at {
  color: #aaaaaa;
  font-size: 0.9em;
}

.modal-profile {
  width: 450px;
}

.checkbox label {
  font-weight: bold;
}

.navbar {
  margin-left: 220px;
  min-height: 40px;
  height: 40px;
  border-radius: 0px;
  background-color: transparent;
}

.navbar-default .navbar-brand {
  color: #111111;
  height: 40px;
  font-size: 24px;
}