body {
  padding-top: 5px;
}

.container-fluid > .sidebar {
  float: left;
  poisiton: fixed;
  width: 220px;
}
.container-fluid > .content {
  margin-left: 220px;
}

.list-group-item {
  border: 0px;
}

.list-group-item .list-group-item-heading {
  color: #111111;
  font-size: 1.1em;
  font-weight: bold;
  margin-right: 5px;
}

.chat-logs {
  overflow-x: hidden;
  overflow-y: auto;
  //height: 70%;
  //border: solid 1px #aaaaaa;
}

.chat-box-panel {
  height: 150px;
  margin-top: 30px;
  bottom: 0px;
  z-index: 99;
}

.message-at {
  color: #aaaaaa;
  font-size: 0.9em;
}

.modal-profile {
  width: 450px;
}

.checkbox label {
  font-weight: bold;
}

