{sub_dirs, ["rel"]}.

{deps_dir, ["deps"]}.
{erl_opts, [debug_info,
           {parse_transform, lager_transform}]}.
{xref_checks, [fail_on_warning,undefined_function_calls]}.

{deps, [
 {lager, "2.0.0", {git, "git://github.com/basho/lager.git", "2.0.0"}},
 {cowboy, "0.9.0", {git, "git://github.com/extend/cowboy", "HEAD"}},
 {econfig, "0.4.1", {git, "git://github.com/benoitc/econfig.git", "0.4.1"}},
 {sgte, "0.7.1", {git, "git://github.com/filippo/sgte.git", "REL-0.7.1"}},
 {jsonx, "3.0", {git, "git://github.com/iskra/jsonx.git", "HEAD"}},
 {gen_smtp, "0.9.0", {git, "git://github.com/Vagabond/gen_smtp.git", "0.9.0"}},
 {iso8601, "1.1.1", {git, "git://github.com/seansawyer/erlang_iso8601.git", "1.1.1"}}
]}.
