{sys, [
       {lib_dirs, ["../deps"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "onshin", "1",
        [
         kernel,
         stdlib,
         sasl,
         lager,
         cowboy,
         econfig,
         iso8601,
         goldrush,
         jsonx,
         onshin
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "onshin"},
       {profile, embedded},
       {incl_cond, derived},
       {mod_cond, all},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, hipe, [{incl_cond, exclude}]},
       {app, goldrush, [{incl_cond, include}]},
       {app, lager, [{incl_cond, include}]},
       {app, cowboy, [{incl_cond, include}]},
       {app, econfig, [{incl_cond, include}]},
       {app, iso8601, [{incl_cond, include}]},
       {app, onshin, [{mod_cond, app}, {incl_cond, include}, {lib_dir, ".."}]}
      ]}.

{target_dir, "onshin"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/onshin", "bin/onshin"},
           {copy, "files/onshin.cmd", "bin/onshin.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"},
           {copy, "../priv", "priv"},
           {copy, "../onshin.ini", "onshin.ini"}
          ]}.
